<h1><%= @total_search_results %> Results Total</h1>


<% @foods.each do |food| %>
  <ul class="ingredient">
  <li class="description">Description: <%= food.description %></li>
  <li class="food_code">GTIN/UPC code: <%= food.food_code %></li>
  <li class="brand">Brand: <%= food.brand %></li>
  <li class="ingredients">Ingredients: <%= food.ingredients %></li>
  </ul>
<% end %>
