<h1><%= @total_search_results %> Results Total</h1>


<% @foods.each do |food| %>
  <ul class="ingredient">
  <li class="food_code">GTIN/UPC code: <%= food[:gtinUpc] %></li>
  <li class="description">Description: <%= food[:description] %></li>
  <li class="brand">Brand: <%= food[:brandOwner] %></li>
  <li class="ingredients">Ingredients: <%= food[:ingredients] %></li>
  </ul>
<% end %>
